# GCP Configuration
GOOGLE_APPLICATION_CREDENTIALS=[INSERT FILEPATH HERE]
GCP_PROJECT_ID=
GCS_TEMP_BUCKET=

# Docker/Artifact Registry Configuration
GAR_LOCATION=
GAR_REPOSITORY=
IMAGE_NAME = 

# API Credentials
LEGISCAN_API_KEY=
FEC_API_KEY=

# Prefect Configuration
PREFECT_API_URL=
PREFECT_API_KEY=
# PREFECT_DEBUG_MODE=1

# Parsons
PARSONS_LIMITED_DEPENDENCIES=1

#DBT
DBT_KEY=

# OpenAI
OPENAI=

# SERVICE ACCOUNT
GOOGLE_SHEETS_SERVICE_ACCOUNT=[RAW JSON FOR GSHEETS SERVICE ACCOUNT]


